@import "../node_modules/bootstrap/scss/_functions";
@import "../node_modules/bootstrap/scss/_variables";
@import "../node_modules/bootstrap/scss/_variables-dark";
@import "../node_modules/bootstrap/scss/_maps";
@import "../node_modules/bootstrap/scss/_utilities";

// add custom theme colors
$custom-theme-colors: (
  "tertiary": #cfbaf0,
);

$theme-colors: map-merge($custom-theme-colors, $theme-colors);

// add responsive width
$utilities: map-merge(
  $utilities,
  (
    "width":
      map-merge(
        map-get($utilities, "width"),
        (
          responsive: true,
        )
      ),
  )
);

// import bootstrap
@import "../node_modules/bootstrap/scss/bootstrap";
